<div class="container pt-5 my-5">
    <h1 class="text-white">Membership subscription form</h1>
    <h3 class="text-white">You have Selected : {{courseName}}</h3>
    <h3 class="text-warning">{{message}}</h3>
    <h4 class="text-danger">For : $ {{price}}</h4>
    <div class="form-container col-md-6" >
        <form action="/paypal/membership" method="POST">
            {{!-- starts --}}
        <div class="form-group">
          <label for="" class="text-white">Name</label>
          <input type="text" name="name" id="" class="form-control" placeholder="Enter your name" aria-describedby="helpId">
          </div>
          {{!-- ends --}}
          {{!-- starts --}}
        <div class="form-group">
          <label for="" class="text-white">Email</label>
          <input type="text" name="email" id="" class="form-control" placeholder="Enter your Email" aria-describedby="helpId">
        </div>
          {{!-- ends --}}
          {{!-- starts --}}
          <div class="row">
        <div class="form-group col-md-6">
          <label for="" class="text-white">Password</label>
          <input type="text" name="password" id="" class="form-control" placeholder="Password" aria-describedby="helpId">
          </div>
          <div class="form-group col-md-6">
          <label for="" class="text-white">Confirm Password</label>
          <input type="text" name="confirmpassword" id="" class="form-control" placeholder="confirm Password" aria-describedby="helpId">
          </div>
          </div>
          {{!-- ends --}}
<input type="hidden" name="courseNumber" value="{{courseNumber}}">        
<input type="hidden" name="price" value="{{price}}">        
        <div class="form-group ">

        <button type="submit" class="btn btn-primary">PayNow</button>
        </div>
        </div>
        </form>
    </div>
</div>